@model TMDTProject.Models.KhachHang

<h2>Thông tin cá nhân</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Mã khách hàng:</dt>
        <dd>@Model.MaKH</dd>
        <dt>Họ tên:</dt>
        <dd>@Model.HoTen</dd>
        <dt>Giới tính:</dt>
        <dd>@Model.GioiTinh</dd>
        <dt>Ngày sinh:</dt>
        <dd>@Model.NgaySinh</dd>
        <dt>Địa chỉ:</dt>
        <dd>@Model.DiaChi</dd>
        <dt>Email:</dt>
        <dd>@Model.Email</dd>
        <dt>Số điện thoại:</dt>
        <dd>@Model.SDT</dd>
        <dt>Facebook:</dt>
        <dd>@Model.Facebook</dd>
    </dl>
</div>
